node_modules
npm-debug.log*
.pnpm-store
.yarn
.yarn-cache
.yarnrc.yml

coverage
*.tsbuildinfo

.env
.env.local
.env.*.local

apps/*/dist
apps/*/build
apps/admin/.vite
packages/*/dist

.idea
.vscode
.vs
.DS_Store
Thumbs.db
