NODE_ENV=development
PORT=4000
API_PREFIX=/api/v1
LOG_LEVEL=info

JWT_SECRET=change-me-in-production-please
JWT_EXPIRES_IN=1h

MONGODB_URI=mongodb://admin:admin123@mongodb:27017/interviewflow?authSource=admin
REDIS_URL=redis://redis:6379
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_EXCHANGE=interviewflow.events
ELASTICSEARCH_NODE=http://elasticsearch:9200

SENTRY_DSN=
